name: Test
on:
  workflow_dispatch:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - uses: docker/setup-buildx-action@v1
      - name: Install emoji support
        run: |
          sudo apt-get install fonts-noto-color-emoji fonts-noto -y
      - name: Build image
        uses: docker/build-push-action@v2
        with:
          context: .
          load: true
          tags: devenv:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Show image history
        run: docker history devenv
      - name: Install dependencies for running tests
        run: yarn --cwd=example-updater
      - name: Run tests
        run: node example-updater/test.js
      - name: Update screenshot
        run: node example-updater/update.js
        env:
          SCREENSHOT_OUTPUT: examples
      - uses: actions/upload-artifact@v2
        with:
          name: output
          path: tmp/output
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update example images
          file_pattern: examples/*
          commit_user_name: dtinth-bot
          commit_user_email: dtinth-bot@users.noreply.github.com
          commit_author: dtinth-bot <dtinth-bot@users.noreply.github.com>
